.App {
    max-width: 960px;
    margin: 0 auto;
}

.Header {
    display: flex;
    align-items: center;
    height: 86px;
    padding: 24px;
    gap: 48px;
    font-size: 36px;
}

.Header a {
    color: var(--text-color);
}

.AppName a {
    text-decoration: none;
}

.HeaderLinks {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.HeaderLink {
    padding: 0 8px;
    text-decoration: none;
    border-right: 1px solid var(--text-color);
}

.HeaderLink:last-child {
    border-right: none;
}

.ActiveHeaderLink {
    text-decoration: underline;
}

.HeaderThemeToggle {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.HeaderThemeToggle button {
    margin: 0;
    padding: 2px 8px;
    background: transparent;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    color: var(--text-color);
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

.Main {
    margin-top: 32px;
    padding: 0 24px 48px;
}
