/* CSS reset (source: https://www.joshwcomeau.com/css/custom-css-reset/) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* index.css styles */
:root {
    --bg-color: #fefefe;
    --text-color: rgb(50, 50, 50);
    --text-color-danger: #fa5050;
    --cell-border-color-rgb: 0, 0, 0;
}

body {
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Helvetica";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body.dark {
    --bg-color: #000a1d;
    --text-color: #fafafa;
    --cell-border-color-rgb: 255, 255, 255;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
